body {
	background: url(../images/background.jpg);
	background-position: 0px 400px;
	background-size: 100% 350%;
}

.container {
	width: 80%;
	position: absolute;
	top: 500px;
	left: 10%;
}

.jumbotron {
	background: url(../images/gameofthronescharacter.jpg) center center no-repeat;
	height: 400px;
}

.individual-gifs {
	float: left;
	margin: 10px;
}

.intro {
	display: block;
	background-color: #271416;
	color: white;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 400px;
	padding: 20px;
}

.input-label {
	font-size: 20px;
	color: black;
}

.character-btn {
	background-color: #D65947;
	border-radius: 5px;
	border: none;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	color: white;
}

.character-btn:hover {
	background-color: #7B2F2C;
}

.rating-text {
	font-size: 20px;
	color: black;
	font-weight: bold;
}

#got-buttons {
	width: 100%;
}

#add-character {
	background-color: #37B7BF;
	border: none;
	color: white;
	margin-top: 10px;
	padding: 10px;
	font-size: 18px;
}

#add-character:hover {
	background-color: #375D75;
}

/* JUMBOTRON ELEMENTS */

#title {
	color: white;
	text-align: center;
	letter-spacing: 10px;
	margin-top: 7%;
}

#title-description {
	color: white;
	text-align: center;
}

#title-button {
	text-align: center;
	position: relative;
	left: 43%;
	background-color: #37B7BF;
	border: none;
}

#title-button:hover {
	background-color: #375D75;
}